
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: midnightblue;
}

.container{
    border:1px solid black;
    width: 600px;
    height: 600px;
    display:flex;
    flex:0 1 auto;
    flex-flow:column wrap;
    margin:0 auto;
}


.row{
    display:flex;
    flex:1;
}

.column{
    display:flex;
    flex:1;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
}


.nogrid{
    border: 0px;
}

button{
    display: flex;
    justify-self: center;
    margin-top:10px;
    padding: .5rem;
    border-radius: 15%;
    
    
}

footer{
    width: 100%;
    position: fixed;
    bottom:0;
    text-align: center;
    background-color: lavender;
    padding:5px;
    
    
}