.container{
    display:flex;
    max-width: 70%;
    border: 1px solid black;
    justify-content:center;
    flex-wrap: wrap;
    flex: 1;
}

.testDivs{
    max-height: 20px;
    max-width: 20px;
    display:flex;
    padding:5px;
    flex-grow:0;
    flex-shrink: 1;


}



body{
    display:flex;
    justify-content: center;
    align-items: center;
}
button{
    display: flex;
    align-self: flex-start;
}